body{
	background:grey;
}

.top-box{
	position: relative;
	
	left: 30%;
	margin:5px;
	width:550px;
	height: 250px;
}

.nav{

}

.nav li{
	float: left;
	list-style: none;
}

.nav li a{

    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: black;
}

.content-box{
	background-color: white;
	
	
	max-width: 100%;
	max-height: 100%;
	padding:10px;
	margin: 5px;
}
#create {
	
	
}
.nav button{
	float:right;
	background-color: #4CAF50;
	color: white;
	padding: 15px 32px;
}