body{
	background:grey;
	margin:0; 

}

.top-box{
	width:100%;
	min-width: 100%
	
}



.nav{
	 
	width:190px;
	
	}

.nav li{
	
	list-style: none;
}



div.main{
	height: 60px;
	line-height: 60px;
	background-color: #3FC6F3;
	border-style: 10px solid;
	cursor: pointer;
	text-align: center;
}


ul.subs li a {

    display: block;
    color: white;
    height:40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: black;
}

li.red-color div.main{ 
	background-color:#FF625F;
	border-right: 10px solid #FD2621; 

}

li.red-color ul.subs li a {
	border-right: 10px solid #FD2621; 
	color :#FD2621;
}

li.red-color ul.subs li a:hover{
	background-color: #FF625F;
	color:#FFF;

}
li.blue-color ul.subs li a:hover{
	background-color: #3FC6F3;
	color:#FFF;

}
.content {
	background-color: white;
	margin-left:200px;
	height: 100px;
	width:1200px;
	max-width: 100%;
	max-height: 100%;
	border-top:solid; 
	text-align: center;
	margin-bottom: 20px;


	
}

.nav button{
	margin-left: 40px;
	background-color: black;
	color: white;
	padding: 15px 32px;
	border: none;
	width:150px;
	height:60px;

}

.nav form{
	background-color: purple;
	
	color: white;
	padding: 15px 32px;
	text-align: center;
	
	margin-left: 40px;
}

.side {
	
	
	

}

.footer p{
	text-align: center;
	margin:0;
	padding:4px;
	

}

.footer tag {
	padding: 10px 5px;
	margin-left: 40px;
	color:white;
	font-size:  20px;

	
}
.footer{
	border-top: solid;
	
}